/* src/IconWithTooltip.css */
.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* .admin-icon {
  font-size: 24px;
} */

.tooltip {
  visibility: visible;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -80px; /* Use half of the width (160px / 2) to center the tooltip */
  opacity: 0.9;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
